.modal_header{
	background-color: #80b435;
}
.newModalBtn{
	background-color: #80b435 ! important; 
    border:1px solid #80b435;
    border-radius: 0px !important;
    font-weight: 600;
    /* margin-left: 25px; */
    margin-top: 2px;
    /* margin-right: 50px;    */
    padding: 9px;
    color:#fff;
    transition: 0.3s;
}
.addPincode{
    margin-top: 20px;
}
.newModalBtn:hover{
    border: solid 1px #80b435 !important;
    color : #fff;
}
.pincodeBtnwrapper{
    margin-top: 10px;
}
.pincodemodal .close{
    /* color: rgb(146, 21, 21) !important; */
    /* border:solid 1px #aaa; */
    color: #999 !important;
    border-radius: 5px;
    height: 25px;
    width: 25px;
    box-shadow: 0 6px 12px rgba(2,2,2,.2);
}
.pincodeModalHeader{
    color: #fff;
}
.pincodemodal .labelform{
    text-align: center !important;
    font-weight: 600;
    color: #999;
}
.pinmodalHeader{
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}
.ModalBtnWrapper{
    margin-top: 30px;
}
.pincodemodal {
    height: 240px;
    /* border-radius: 10px !important; */
    background: url(/images/modalBackground.png);
    background-position: bottom;
    background-repeat: no-repeat;
    margin-top: 170px !important;
}

.deliveryAllowModal{
    height: 160px;
}
.pincodeModalHeader{
    border-radius: 10px !important;
}
.Pincode_div{
    margin-top: 20px;
    text-align: center;
}
.pinocodeInput{  
    /* width: 150px; */
    /*margin-left: 16px;*/
    /* border-radius: 5px; */
    height: 38px;
    margin-top: 5px;

}
.AllowDeliveryMsg,
.NotAllowDeliveryMsg{
    font-size: 12px;
    color:#777;
    padding: 5px 10px;
    border-radius: 5px;
    display: none;

}
.AllowDeliveryMsg{
    margin-bottom: 10px;
    background-color: rgb(232, 247, 233);
    margin-top: -22px;
}
.NotAllowDeliveryMsg {
    margin-bottom: 10px;
    background-color: rgba(232, 174, 171, 0.25);
    margin-top: -22px;
}