
.addressSaveBtn{
    border-radius: 25px;
    padding: 10px 20px;
}
.addressModal{
    top: 25px;
    overflow-y: hidden !important;
}
.addressModalBody{
    padding: 0px 15px 15px 15px;
}
.modalBtn{
	background-color: #80b435;
	color: #fff;
}
.modal-header{
	background-color: #80b435;
}
.modalheadingcont{
	font-weight: 600;
}