.bannercaro .bannerimg{
  height: 600px!important;

}

.bannercaro .owl-dots {
    display: block;
    position: absolute;
    text-align: center;
    top: 505px;
    left: 603px;
    margin-top: 70px;
}

.owl-dots{
	left:655px ! important;
}
.takephone_down{
	margin-top: 15px;
}
.bannercaro .owl-dots .owl-dot span{
background: #fff;
height: 15px;
width:15px;
border: 2px solid #FBBD65;

}
.bannercaro .owl-dots .owl-dot.active span{
background: #FBBD65;

}.bannercaro .owl-dots .owl-dot:hover span{
	background: #FBBD65;
}
.bannerAnimation{
	margin-top: -550px;
}
.banner2AnimationImg{
	margin-top: -600px;
}
.banner2TextBox{
	margin-top: -400px;
}
.banner1upImg, .banner1downImg{
	height: 150px !important;
}
.bannertext{
	font-size: 20px;
	font-weight: 700;
	text-align: center;
	color: #fff;
	margin-top : 20px;
}
.bannertext1{
	font-size: 20px;
	font-weight: 500;
	text-align: center;
	color: #fff;
	margin-top : 20px;
}
.BannerTitle{
	text-align: center;
	font-size: 60px;
	color: #fff;
	font-weight: 700;
}
.banner2sideImg{
	height: 500px !important;
}
.BannerTitle2{
	text-align: center;
	font-size: 50px;
	color: #fff;
	font-weight: 700;
}
.hrLineBanner{
	border-bottom: solid 2px #A2632C;
	margin-top: 33px;
}
.homeBanner2{
	margin-top: 98px;
}
.intro_img{
	width: 50px;
    height: 50px;
    text-align: center;
    margin-left: 96px;
}
.bannerContainerEcomm{
	margin-top: 83px;
}
.homeBanner2_head{
	font-size: 14px;
    font-weight: 700;


}
.img_border{
 border-right: 1px solid #eee;
}
.btnbg {
    background-image: url(/images/youtube.png);
    width: 102px;
    background-color: #f1f1f1;
    /*box-shadow: 1px 1px 10px 0 #f1f1f1;*/
    /*border-radius: 40px 0 0 40px;*/
    height: 35px;
    top: 560px;
    right: 0px;
    z-index: 1000;
    position: fixed;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.btnbg img{
	right: 9px;
    height: 21px;
    position: absolute;
    width: 82px;
    top: 5px;
}