.marketingImg{
	background-repeat: no-repeat;
	width: 494px;
    height: 281px;

}
.marketing_div{
	height: 350px;
    margin-top: 36px;
}
.marketingImg_txt{
	bottom: 101px;
	left:151px;
    position: absolute;
    color: #fff;
    font-weight: 700;
}
.marketingImg2_txt{
	bottom: 101px;
	left:97px;
    position: absolute;
    color: #fff;
    font-weight: 700;
}
