.marketingImg{
	background-repeat: no-repeat;
	width: 494px;
    height: 281px;

}
.marketing_div{
	height: 350px;
    margin-top: 36px;
}
.marketingImg:hover{
    transform: scale(1.1);
    transition-duration: 0.5s;
    opacity: 0.8;
    border:1px solid #eee;

}
.marketingImg_txt{
	bottom: 101px;
    font-size: 20px;
    left: 65px;
    position: absolute;
    color: #fff;
    font-weight: 700;
}
.marketingImg2_txt{
	bottom: 101px;
    left: 50px;
    position: absolute;
    color: #fff;
    font-weight: 700;
    font-size: 20px;
}
@media only screen and (max-width: 768px) {
.marketingImg {
    background-repeat: no-repeat;
    width: 320px;
    height: 221px;
    height: 170px;
    margin-bottom: 5px;
  }
  .marketingImg2 {
    background-repeat: no-repeat;
    width: 320px;
    height: 221px;
    height: 160px;
  }
  .marketingImg_txt{
    bottom: 52px;

  }
  .marketingImg2_txt{
    bottom:47px;
  }
  .marketing_div{
    margin-top: 10px;
  }
}
