.below_header{
	height: 200px;
}
.mainDiscDiv{
	height: 350px ! important;
	margin-top: 80px ! important;
}
.image1_div{
	/*width:168px;*/
    margin-left: 73px;
	background-color: #a2632c ! important;
}
.image1stDiv{
	height: 271px;
	/*margin-top: 80px;*/
	background-repeat: no-repeat ! important;
	background-size: 100% 100%;

}
.imagediv2{
    height: 272px;
	margin-left: 35px;
	background-color: #a2632ccc;
}
.imagediv3{
	background-color: #a94442ad;
    margin-left: 35px;
}
.div1background{
   background-color: #a2632cba;
}
.imge2text{
	padding-top: 4px ! important;
    padding-left: 13px;
}
.new_shopnowbtn {
    border-radius: 20px;
    font-size: 15px;
    font-weight: 700;
    color: #1b1818;
    border: 2px solid #f5f3f2;
    position: absolute;
    top: 98%;
    left: 9%;
    margin-top: 10px;
    cursor: pointer;
    z-index: 1000;
    background-color: #efece9;
    transition: 0.3s !important;
}
.{
    width: 178px;
    height: 208px;
}