.bookingMasterContainer{
	background-color: #eee;
	margin-bottom: 50px;
}
.pickupType{
	margin-top: 15px;
	background-color: var(--white-color);
}
.hideDiv{
	display: none;
}
.pickupTypeCar{

	height: 500px;
}
.hideUntilClick{
	display: none;
}
.showDivOnClick{
	display: block;
}
.customNavBM{
	text-align: center;
}
.customNavBM>li>a{
	font-size: 15px;
	padding: 10px 40px;
    border-left:1px solid #eee;
    border-radius: 0px;
    margin-right: 0px;
}
.customInputInline{
	margin-top: 10px;
	margin-left: 2px;
	padding-left: 0px !important;
}
.borderBottomBM{
	border-bottom: 1px solid #eee;
}
.crossButton{
	padding:5px;
	background-color: #aaa;
}
.customNavBM>li.active>a, .customNavBM>li.active>a:focus, .customNavBM>li.active>a:hover{
	color: var(--white-color);
    cursor: default;
    border-radius: 0px;
    background-color: var(--blue-color);
}
.customTabContent{
	padding: 15px !important;
}
.input-group-addon{
     border-right: 0px; 
}
.carContainer{
	height: 250px;
	border:1px solid #eee;
	padding: 15px !important;

}
.carContainer img{
	height: 120px;
}
.customLabelCar{
	font-size: 18px;
	padding-left: 15px !important;
	padding-top: 15px !important;
	padding-bottom: 15px !important;
	margin-bottom: 0px;
	border-bottom: 1px solid #eee;
}
.headCar{
	font-size: 18px;
}
.premiumCar{
}
.empContainer{
	padding: 10px;
	cursor: pointer;
}
.dateContainer{
	border:1px solid var(--blue-color);
	height: 100px;
	padding-left: 10px !important;
	padding-right:  10px !important;
	border-right: 1px dashed var(--blue-color)!important;
	text-align: center;
	border-radius: 10px;
}
.addedDivBM{
	height: 100px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	background-color: #aaa;

}
.addedDivBM img{
	height: 20px;
	padding-top: 10%;
	margin-top: 35px !important;

}
.listprofileEmployee{
	text-align: center;
	border: 1px solid var(--blue-color);
	border-left: 0px !important;
	border-radius: 10px;
}
.tripDetail{
}
.titleTrip{
	padding-top: 18px;
	font-size: 18px;
}
.onlyDay{
	padding-top: 10px;
	font-size: 14px;
	font-weight: 100 !important;
	margin-bottom: 0px !important;
}
.firstDate{
	font-size: 30px;
	margin-bottom: 0px !important;
}
.dateWith{
	font-size: 14px;
	font-weight: 100 !important;

}
.tripType{
	font-weight: 100 !important;
}
.statusOfTrip{
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 3px;
	padding-bottom: 3px;
	color:var(--white-color);
	border-radius: 50px;
	font-size: 10px;
	background-color: #ff9300;
}
.singleEmployeeDetails{
	border-bottom: 1px solid #ccc;

}
.profileImage{
	height: 80px;
	border: 1px solid #eee;
	box-shadow: 2px 1px 3px 1px #eee;

	margin-top: -5px;
	border-radius: 10px;
}
.profileImage img{
	height: 100%;
	padding: 5px;
	width: 100%;

}
.listfontED li{
	padding-bottom: 6px;
}
.titleprofileTD{
	font-size: 16px;
	font-weight: bold;
	color: #333;
	padding: 2%;
	border-bottom: 1px solid #ddd;
}
.rejectTrip{
	background-color: #f00;
	color: #fff;
	padding:7px !important;
	font-weight: normal;
	font-size: 12px !important;
}
.acceptTrip{
	background-color: #54ca57;
	color: #fff;
	font-weight: normal;
	padding:7px !important;
	font-size: 12px !important;
}
.customTextArea{
	border-radius: 4px;
	padding: 8px;
}
.approvedImg img{
	height: 60px;
}
.trackCar{
	font-size: 10px;
	font-weight:normal;
	background-color: #aaa !important;
}
.addStopDiv{
    height: 30px;
    border: 1px solid #aaa;
    font-size: 14px;
    padding-top: 4px !important;
    border-radius: 35px;
    background-color: var(--blue-color);
    color:#fff;
    cursor: pointer;
    text-align: center;
}
.addStopDiv:hover {
 box-shadow: 0 5px 10px rgba(92,141,255,.5);

}
.customInputField{
	border:0px !important;
	margin-top: 20px;
	width: 90% !important;
	border-bottom: 1px solid #eee !important;
}
.selectedEmployee .addedDivBM{
	background-color: var(--blue-color);
}
.plusSignDiv{
	background-color: var(--blue-color);
	height: 30px;
}
.plusIconBooking{
	color:#fff;
    background-color: var(--blue-color) !important;
    
}
.innerCarContainer{
	border: 1px solid #aaa;
	height: 80px;
	cursor: pointer;
	padding: 5px !important;
	margin-right: 5px;
    margin-bottom: 5px;
    background: #fff;
}
.innerCarContainer:hover{
	border: 0.5px solid var(--blue-color);
	box-shadow: 0px 1px 6px var(--blue-color);

}
.innerCarContainer img{
	height: 80%;
	width: 100%;
}
.premiumHead{
	font-size: 10px;
}
.bookButton{
	box-shadow: 3px 5px 3px #ddd;
    font-weight: 700;
    border: none;
    color: var(--white-color);
    padding: 6px 33px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 23px;
    outline: 0;
    letter-spacing: 1px;
    background: var(--blue-background);
}

.btnTabColor{
	/*background-color: #3c8cbc;*/
	color: #fff;
	padding: 5px !important;
	border: 1px solid #fff;
}

.RadioForm{
	box-shadow: 0 8px 6px -6px black;
	    border: 1px solid #ddd;
}

.RadioForm .radioDiv{
  text-align:center;
    position:relative;
    top:40px;
}
.RadioForm {
    width:70%;
    height:250px;
    background:#FFF;
    margin:40px auto;
}

.effect1{
    -webkit-box-shadow: 0 10px 6px -6px #777;
       -moz-box-shadow: 0 10px 6px -6px #777;
            box-shadow: 0 10px 6px -6px #777;
}

.formBtn{
	margin-top: 5%;
}

.toggleButton:focus, .toggleButton.focus{
	color:#333;
	outline:none;
}
.toggleButton.active.focus, .toggleButton.active:focus, .toggleButton.focus, .toggleButton:active.focus, .toggleButton:active:focus, .toggleButton:focus{
	outline:none;
}

.customToggleButtonPermission{
    border: 1px solid #e4e0e0;
    margin-right: 8px !important;
    font-size: 12px !important;
    padding-left: 19px !important;
    padding-right: 19px !important;
    padding-top: 3px !important;
    padding-bottom: 2px !important;

}

.empNoform{
	margin-top: 2%
}
.showDiv{
	background-color: #ddd;
	height: 200px;
}

.autocomplete-dropdown-container{
	padding: 5px;
    z-index: 1;
    box-shadow: 1px 1px 2px 1px #ddd;
    margin-top: 2px;
}

.HRMSAddon{
	height: 34px;
}

.hideBtn{
	display: none;
}

.btnMargin{
	margin-top: 5%;
	margin-bottom: 5%;
}