.uniLogo{
    height: 90px;
    margin-top: -22px;
}

.headerContainer {
    height: 36px;
    border-radius: 3px;
    margin-top: 15px !important;
    padding-bottom: 15px !important;
    border-bottom: 1px solid #cdcdcd;
}
.float-left {
    float: left;
    margin-top: 5px;
}
.header-top{
    margin-left: 50px;
}
#topbar .float-left p {
    font: 300 13px/20px "Roboto Slab";
    color: #231f20;
    margin-top: 4px;
    margin-bottom: 10px;
}
#topbar .float-left p {
    display: block;
    font: 300 13px/20px "Roboto Slab";
    text-align: left;
    margin: 3px 10px;
    margin-bottom: 10px;
}
.align-right {
    text-align: right;
}
.float-right {
    float: right;
}
#topbar .float-left p span {
    font: 700 13px/20px "Roboto Slab";
    color: #80b435;
    font-size: 15px;
}
#topbar .float-right .hover-menu {
    display: inline-block;
    padding-left: 10px;
    padding-bottom: 10px;
    margin-left: 10px;
    position: relative;
}
.acc :hover{
    text-decoration: none !important;
}
.hover-menu a{
    padding: 0px 20px !important;
}
.hover-menu a:hover{
    padding: 0px 20px !important;
    background-color: none !important;
}
#topbar .float-right a {
    line-height: 30px;
    color: #333;
    font: 400 12px/40px "Roboto";
}
#topbar .logo{
    margin-left: 50px;
}
.header-top{
    margin-top: 20px;
}
.shortnamebk {
    margin-top: 20px;
    padding: 0px !important;
    height: 38px !important;
    width: 38px !important;
    text-align: center;
}
.signoutBtn{
    text-align: center;
    font-weight: 700 !important;
    font-size: 16px !important;
}
.cart-dropdown-menu{
    margin-top: -5px !important;
}

/* megamenu css */
.megamenuWrapper .catogeryvaluebg_un{
    background-color: #fff !important;
}
.mega-menu span{
    text-transform: uppercase !important;
}
.megamenuWrapper{
    margin-top: 14px;
}
ul.main-nav > li:hover {
    background-color: #fff !important;
    color: #80b435 !important;
}
.sub-menu-head:hover {
    color: #80b435 !important;
    background-color: #fff !important;
}
.sub-menu-head li{
    padding: 10px 0px !important;
}

.sub-menu-block{
    background-color: #fff !important;
}
.sub-menu-block{
    visibility: hidden;
    background-color: #f9f9f9;
    position: absolute;
    margin-top: 0px;
    /* width: 17%; */
    color: #333;
    left: 125;
    box-sizing: border-box;
    z-index: 3;
    font-size: 16px;
    border-left: none !important;
    border-right: none !important;
    border-bottom: none !important;
    box-shadow: 0px 8px 33px 0px rgba(0, 0, 0, 0.13);
    opacity: 0;
    transition: all 0.7s ease 0s;
    transform: rotateX(90deg);
    transform-origin: top center;
}
.megamenusubwidth1{
    border-bottom: solid 1px #eee;
}
.sub-menu-head {
    padding: 5px 0px !important;
    /* border-bottom: solid 1px #eee; */
    margin-top: 5px !important;
}
.sub-menu-head li,
.sub-menu-lists li{
    list-style: square !important;
}
/* right box */
.box-right .cart {
    /* margin-left: 15px;
    padding-left: 15px;
    margin-top: 0px;
    position: relative; */
}
.icon-cart .icon {
    display: inline-block;
    background: url(/images/unimandai/icon-cart.png) no-repeat;
    width: 23px;
    height: 45px;
}
.box-right .cart .cart-count {
    font-size: 11px;
    color: #fff;
    display: inline-block;
    height: 18px;
    width: 18px;
    line-height: 18px;
    text-align: center;
    position: absolute;
    bottom: 22%;
    right: -24px;
    font-family: "Montserrat";
    border-radius: 50%;
    background: #80b435;
}
.box-right {
    padding-top: 20px;
    padding-left: 0px;
    padding-right: 15px;
    /* margin-left: 50px; */
}
.box-right .search{
    cursor: pointer;
    margin-top: 2px;
}
.userinfotext{
    margin-bottom: -20px !important;
    margin-top: 15px !important;
}
.loginButton{
    text-decoration:none !important;
    font-style: "Roboto Slab";
    font-size: 16px !important;
    font-weight:300 !important;
    color: #333 !important;
    line-height: 30px;
    /* font: 400 12px/40px "Roboto"; */
    transition : 0.2s ease;
}
.loginButton:hover{
    color: #80b435 !important;
}
.hover-menu .acc{
    text-decoration: none !important;
}
.list-menu {
    position: absolute;
    top: 100%;
    /* left: 700px !important; */
    z-index: 1000;
    display: none;
    float: left;
    min-width: 200px;
    padding: 0px 0px !important;
    /* margin: 2px 0 0; */
    font-size: 14px;
    text-align: left;
    margin-top: -6px !important;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    transition: 0.4s ease !important;
}
.logout-list-menu {
    position: absolute;
    top: 100%;
    left: 204px;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    /* margin: 2px 0 0; */
    font-size: 14px;
    margin-top: 34px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    transition: 0.2s !important;
}
.logout-list-menu lable p{
    font-size: 15px;
}
.logout-list-menu .welcomeTxt{
    margin-top: 5px !important;
    /* text-align: center !important; */
    margin-bottom: 5px !important;
    font-weight: 600;
}
.logout-list-menu p{
    margin-bottom: 20px;
}

.logout-list-menu .signInOutBtn a{
    background-color: #80b435;
    color: #fff !important;
    padding: 10px 20px !important;
    text-decoration: none !important;
    border:solid 1px #fff;
    transition: 0.5s;
}
.logout-list-menu .signInOutBtn a:hover{
    background-color: #fff;
    color: #80b435 !important;
    border:solid 1px #80b435;
}

.list-menu .signoutBtn:hover{
    color: #80b435 !important;
    background-color: #80b435 !important;
    /* border: solid 1px #80b435 !important; */
}

.logout-list-menu .signInOutBtn{
    margin: 20px 15px !important;   
}
.cart-dropdown-menu {
    left: -286px !important;
    margin: -11px !important;
    min-width: 400px !important;

}
.cartdropaction:hover{
    color: #80b435 !important;
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    color: #262626;
    text-decoration: none;
    background-color: #fff;
}
/* search modal css */
.popup-search .close {
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 18px;
    color: #aaa;
}
.popup-search {
    position: relative;
    padding: 90px 0px;
}
.searchModal .modal-body {
    padding: 0 50px;
}
.searchModal .input-group {
    margin: 0 auto;
    display: inline-block;
    position: relative;
    width: 100%;
    border-collapse: separate;
}
.form-control.control-search {
    color: #333;
}
.searchModal .form-control {
    display: block;
    width: 100%;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.searchModal input{
    height: 46px;
    border-radius: 0px !important;
}
button.button_search {
    background: #333;
    /* font: 700 16px/43px "Roboto Condensed"; */
    color: #fff;
    text-transform: uppercase;
    /* text-align: center; */
    /* width: 130px; */
    border: solid 1px #333;
    padding: 5px;
    border: none;
    position: absolute;
    right: 1px;
    top: 0px;
    height: 34px;
    transition: all 0.4s ease 0s;
    z-index: 99;
}
.searchModal .modal{
    margin-top: 150px !important
}

/* hpmepage css */
.uniHomepageWrapper{
    padding-left: 0px;
    padding-right: 0px;
}
.searchBox{
    margin-top: -7px;
}

/* login modal css  */
.loginModalContent{
    height: 600px;

}
.loginModalContent .close{
    font-size: 55px !important;
    font-weight: 500 !important;
}