.nobdrbtmbdr{
	border: none;
	border-bottom: 1px solid #666;
}
.nobdrbtmbdrdropdown{
	border: none;
	height: 23px;
    background: transparent;
    border-bottom: 1px solid #666;
}

.nobdrbtmbdr:focus {
    outline: none;
    outline-offset: -2px;
}

.nobdrbtmbdrdropdown:focus {
    outline: none;
    outline-offset: -2px;
}