.modal_header{
	background-color: #80b435;
}
.newModalBtn{
	background-color: #80b435 ! important; 
    border:1px solid #80b435;
    font-weight: 600;
    margin-top: -2px;
    /* padding: 9px; */
    color:#fff;
    transition: 0.3s;
}
.addPincode{
    margin-top: 20px;
}
.newModalBtn:hover{
    border: solid 1px #80b435 !important;
    color : #fff;
}
.pincodeBtnwrapper{
    margin-top: 10px;
}
.pincodemodal .close{
    /* color: rgb(146, 21, 21) !important; */
    /* border:solid 1px #aaa; */
    color: #999 !important;
    border-radius: 5px;
    height: 25px;
    width: 25px;
    box-shadow: 0 6px 12px rgba(2,2,2,.2);
}
.pincodeModalHeader{
    color: #fff;
}
.pincodemodal .labelform{
    text-align: center !important;
    font-weight: 600;
    color: #444;
    margin-bottom: 10px;
}
.pinmodalHeader{
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}
.ModalBtnWrapper{
    margin-top: 30px;
}
.pincodemodal {
    min-height: 320px; 
    overflow: auto;
    border-radius: 10px !important;
    background-color: #fff !important;
    z-index: 100;
    background-position: 100% !important;
    background-repeat: no-repeat !important;
    margin-top: 170px !important;
}

.deliveryAllowModal{
    height: 160px;
}
.pincodeModalHeader{
    border-radius: 10px !important;
}
.Pincode_div{
    /* margin-top: 20px; */
    text-align: center;
}
.AllowDeliveryMsg, .NotAllowDeliveryMsg {
    font-size: 14px;
    color: #444;
    padding: 5px 0px;
    font-weight: 500;
    border-radius: 5px;
    margin-top: 5px;
    display: none;
    text-align: center !important;
}
.AllowDeliveryMsg{
    margin-bottom: 10px;
    /* background-color: rgb(232, 247, 233); */
}
.NotAllowDeliveryMsg {
    margin-bottom: 10px;
    /* background-color: rgba(232, 174, 171, 0.25); */
    
}
.DeliveryStatusMsg{
    display: none;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 20px;
    /* padding-left: 40px; */
    /* padding-right: 40px; */
}
.pinMessage{
    color: #80b435;
    font-size: 20px;
    font-weight: 700;
    /* display: none; */
}
.marginTop{
    margin-top: 70px;
}