
.block{
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    
}
.block img{
    height: auto;
    max-width: 100%;
}
.block .divImage {
    max-width: 100%;
    transition: all 0.5s;
    display: block;
    width: 100%;
    /*height: 100%;*/
    transform: scale(1);
}
.block:hover .divImage{
    transform: scale(1.1);
    transition-duration: 0.5s;
    opacity: 0.8;

}

.abc{
    background-color: #ffffff;
}

.block:hover .figcaption{
    opacity: 1;
    transform: scale(1.1);
    transition-duration: 1s;
    background-color: rgba(153,153,153,0.2);
}
.block:hover .figcaption span{
    top:135px;
    font-size: 0.75em;
}

.block:hover .figcaption::before{
    opacity: 1;
    transition-duration: 1s;
    transform: scale3d(1,1,1);
}

.block:hover .figcaption2{
    opacity: 1;
    transform: scale(1.1);
    transition-duration: 0.5s;
    background-color: rgba(153,153,153,0.2);
}


.block:hover .figcaption2::before{
    opacity: 1;
    transition-duration: 0.5s;
    transform: scale3d(1,1,1);
}

.figcaption{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 2em;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.25em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: block;
    text-align: center;
    opacity: 1;
}
.figcaption span {
    color: #fff;
    background: rgba(0,0,0,0.3);
    padding: 10px;
    font-size: 0.9em;
    position: relative;
    font-weight: 700;
    top: 155px;
    display: block;
    margin: 18px -35px;
}
.figcaption::before{
    position: absolute;
    top: -217px;
    right: 20px;
    bottom: 60px;
    left: 20px;
    border: 2px solid #fff;
    box-shadow: 0 0 0 30px rgba(255,255,255,0.2);
    content: '';
    opacity: 1;
    -webkit-transition: opacity .35s,-webkit-transform .35s;
    transition: opacity .35s,transform .35s;
    -webkit-transform: scale3d(1.4,1.4,1);
    transform: scale3d(1.4,1.4,1);
}
.figcaption1{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 2em;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.25em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: block;
    text-align: center;
    opacity: 1;
}
.figcaption1::before {
    position: absolute;
    top: 17px;
    right: 20px;
    bottom: 18px;
    left: 20px;
    border: 2px solid #fff;
    box-shadow: 0 0 0 30px rgba(255,255,255,0.2);
    content: '';
    /* opacity: 1; */
    transition: opacity .35s,transform .35s;
    transform: scale3d(1.4,1.4,1);
}

.figcaption1 span {
    color: #fff;
    background: rgba(0,0,0,0.3);
    padding: 10px;
    font-size: 0.9em;
    position: relative;
    font-weight: 700;
    top: 125px;
    display: block;
    margin: 18px -35px;
}
.figcaption2{
    /*position: absolute;*/
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*padding: 2em;*/
    color: #fff;
    text-transform: uppercase;
    font-size: 1.25em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: block;

}

.figcaption2::before{
    position: absolute;
    top: -221px;
    right: 65px;
    bottom: 6px;
    left: 65px;
    border: 2px solid #fff;
    box-shadow: 0 0 0 30px rgba(255,255,255,0.2);
    content: '';
    opacity: 1;
    -webkit-transition: opacity .35s,-webkit-transform .35s;
    transition: opacity .35s,transform .35s;
    -webkit-transform: scale3d(1.4,1.4,1);
    transform: scale3d(1.4,1.4,1);
}


.banerbg{
    background: url("/images/bottombaner.png");
}

.shopnowbtn{
    border-radius: 20px;
    font-size: 15px;
    font-weight: 700;
    color: #fff;
    border: 2px solid #A2632C;
    position: absolute;
    top: 58%;
    left: 46%;
    margin-top: 10px;
    cursor: pointer;
    z-index: 1000;
    background-color: #A2632C;
    transition: 0.3s !important;
}
.shopnowbtn:hover{
    background-color: transparent;
    color: #A2632C;
}

.shopByCat{
    font: 400 36px/40px "Roboto Slab";
<<<<<<< Updated upstream
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 20px;
    text-align: center;
    background-color: #444;
=======
    color: #2b2b2b;
    text-transform: capitalize;
    margin-bottom: 20px;
    text-align: center;
>>>>>>> Stashed changes
}
.flatSaleBlockWrapper{
    position: absolute;  
    margin-top: -230px;
    z-index: 1000 !important; 
    text-align: center;
    width: 100%;
}
.flatSaleBlock{
    font: 300 42px/50px "Roboto Slab";
    color: #80b435;
    text-transform: uppercase;
    vertical-align: bottom;
    display: inline-block;
    margin-left: 10px;
}
.OffBlock{
    color: #A2632C;
}

.offerText{
    text-align: left !important;
    color: #fff;
}
/*unimandai*/
.images-logo{
        transform: translate(0px, 80px);
        position: relative;
        z-index: 999;

}
.special-content {
    text-transform: uppercase;
    margin-bottom: 20px;
    font: 300 15px/30px "Roboto";
    letter-spacing: 3px;
    color: #2b2b2b;
    background-color: #eee;
    margin-top: 15px;
}
.newBlock{
    margin-top: 135px;
}
.imageposition{
    padding-right: 20px;
}


/*unimandai*/
ul.tabs.tabs-title {
    width: 100%;
    display: inline-block;
    text-align: center;
    margin-bottom: 30px;
}
ul.tabs.tabs-title li.active, ul.tabs.tabs-title li:hover {
    color: #80b435;
}
ul.tabs.tabs-title li {
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    padding: 0 17px;
    cursor: pointer;
    font: 400 16px "Roboto Slab";
    /*color: #2b2b2b;*/
}
.mainproductblock:hover .action {
    transform: translate(0px, -194px);
    opacity: 1;
    /*background-color: #444;*/
}
 .block .action {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
    left: 0px;
    bottom: 0px;
    /*margin: auto;*/
    width: 240px;
    height: 60px;
    text-align: center;
    padding-top: 2px;
}
.action {
    transform: translate(0px, 30px);
    /*-webkit-transition: all 0.4s ease 0s;*/
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    background-color: #fff;
    opacity: 0;
    height: 40px;
    border-radius: 30px;
    box-shadow: 3px 4px 35px 0px rgba(0, 0, 0, 0.09);
}
.action a.zoom {
    background: url(/images/product-action-3.png) no-repeat scroll center top 15px;
}
.action a.wish {
    background: url(/images/product-action-2.png) no-repeat scroll center top 15px;
}
.action a.add-cart {
    background: url(/images/product-action-1.png) no-repeat scroll center top 14px;
}
.action a {
    opacity: 0;
    display: inline-block;
    position: relative;
    /*background: none;*/
    text-align: center;
    width: 73px;
    height: 60px;
    line-height: 60px;
}
.block .action a:after {
    position: absolute;
    content: '';
    right: -2px;
    top: 20px;
    width: 1px;
    height: 15px;
    background: #d5d5d5;
}
.mainproductblock:hover .action a {
    opacity: 100;
    transform: translate(0px, 0px);
}
.action a:hover{
    /*background-color: #ffffff ! important;*/
    color: #80b435;
}
.mainproductblock{
    width: 20%;

}
.flatsale{
    background-color: #ffffff;

}