.returnPolicyWrapper{
    margin-bottom: 10px;
}
.returnPolicy{
    background-color: #eee;
    margin-bottom: 20px;
    padding: 20px 20px;
}
.pageTitle{
    font-size: 20px;
    text-align: center;
    /* border-bottom: solid 2px; */
    padding: 5px;
    margin-bottom: 15px;
}